.weatherDaily{

}

body{
height: 90vh;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}